@import '../utils/variables.scss';


.main {
    grid-area: main;
    margin: 20px auto;
    width: 90%;
}

.description {
    display: flex;

    * > p {
        margin: 20px 0;
    }
}

.article {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    width: 50%;

    &__title {
        font-size: 2.5rem;
        font-family: 'Playfair Display', serif;
        text-transform: uppercase;
    }

    &__descriptionLink {
        color: currentColor;
        text-decoration: none;
        text-transform: uppercase;
        border: 1px solid darken($grey, 70%);
        padding: 5px 20px;
        border-radius: 5px;
    }
}