@import '../utils/variables.scss';
@import '../utils/animation.scss';


.main {
    grid-area: main;
    margin: 20px auto;
    width: 90%;
}

.app {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

    &__title {
        border-bottom: 1px solid darken($grey, 70%);
        font-size: 1.5rem;
        font-weight: 300;
        padding: 0 0 10px 0;
        text-transform: uppercase;

        @media (min-width: 200px) and (max-width: 767px) {
            font-size: 1.1rem;
        }
    }

    &__buttons {
        display: flex;
        justify-content: flex-end;

        @media (min-width: 200px) and (max-width: 599px) {
            justify-content: center;
        }
    }

    &__image {
        background-image: url('../../assets/images/chuck.png');
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 500px;
        width: 35%;

        @media (min-width: 200px) and (max-width: 499px) {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            min-height: 300px;
        }

        @media (min-width: 768px) and (max-width: 1023px) {
            min-height: 500px;
            width: 45%;
        }

        @media (min-width: 200px) and (max-width: 767px) {
            width: 100%;
        }
    }

    &__data {
        width: 65%;

        @media (min-width: 200px) and (max-width: 767px) {
            width: 100%;
        }

        @media (min-width: 768px) and (max-width: 1023px) {
            min-height: 500px;
            padding-left: 10px;
            width: 55%;
        }
    }

    &__DataItem {
        padding: 10px 0;
    }

    &__DataList {
        list-style: none;
        margin-top: 20px;
    }

    &__DataList2 {
        list-style: none;
        margin-top: 20px;
	    -webkit-animation: swing-in-top-fwd 0.8s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	    animation: swing-in-top-fwd 0.8s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    }
}

.description {
    display: flex;
    flex-wrap: wrap;

    * > p {
        margin: 20px 0;
    }
}

.article {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    width: 50%;

    @media (min-width: 200px) and (max-width: 767px) {
        width: 100%;
    }

    &__title {
        font-size: 2.5rem;
        font-family: 'Playfair Display', serif;
        text-transform: uppercase;

        @media (min-width: 200px) and (max-width: 767px) {
            font-size: 1.8rem;
            text-align: center;
        }
    }

    &__descriptionLink {
        border: 1px solid darken($grey, 70%);
        border-radius: 5px;
        color: currentColor;
        padding: 5px 20px;
        text-decoration: none;
        text-transform: uppercase;
    }

    &__link {
        color: currentColor;
        display: inline-block;
        padding-left: 10px;
    }
}