@import '../utils/variables.scss';

.wrapper {
    border-radius: 2px;
    box-shadow: 2px 2px 10px rgba(0,0,0,.35);
    background-image: url('../../assets/images/bg.jpg');
    display: grid;
    grid-template-areas: 
        "header header header header"
        "main main main main"
        "footer footer footer footer";
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100vh;
    margin: 100px auto;
    position: relative;
    width: 1280px;
    z-index: 10;
    
    &__pageOne {
        border-radius: 2px;
        box-shadow: 2px 2px 10px rgba(0,0,0,.35);
        background-image: url('../../assets/images/bg.jpg');
        height: 100%;
        left: -5px;
        position: absolute;
        top: 20px;
        transform: rotate(-0.5deg);
        width: 100%;
        z-index: -1;
    }

    &__pageTwo {
        border-radius: 2px;
        box-shadow: 2px 2px 10px rgba(0,0,0,.35);
        background-image: url('../../assets/images/bg.jpg');
        height: 100%;
        left: -5px;
        position: absolute;
        top: 13px;
        transform: rotate(0.5deg);
        width: 100%;
        z-index: -10;
    }
}
